/*  your css code here. If applicable */
/*  your css code here. If applicable */
#line{
	background-color:black;
	position:absolute;
	width:200px;
	height:2px;
	margin:120px;
animation: rotate-animation 2s infinite linear;	
}
@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}